{% extends 'index.html' %}
{% block content %}

<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">
      <!-- ################################################################################################ -->

      <div id="comments">

        <h2>Login</h2>
        {% for message in messages %}
        <h3 style="color: red;"> {{message}} </h3>
        {% endfor %}
        <form  method="post">
          {% csrf_token %}
          <div class="one_third first">
            <label for="name">UserName: <span>*</span></label>
            <input type="text" name="uname" id="name" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="email">Email ID: <span>*</span></label>
            <input type="email" name="email" id="email" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="email">Password: <span>*</span></label>
            <input type="password" name="pswd" id="email" value="" size="22" required>
          </div><br><br>
          <a href="/accounts/password_reset/">forgot password ?</a>
          <br><br>
          <div>

            <input type="submit" name="submit" value="Login">
            &nbsp;
            <input type="reset" name="reset" value="Reset">
          </div>
        </form>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

{% endblock content %}